Package: com.slyfabi.blurryalerts
Name: BlurryAlerts
Depends: mobilesubstrate, ws.hbang.alderis
Version: 1.0.0
Architecture: iphoneos-arm
Description: tvOS style alerts!
Maintainer: SlyFabi
Author: SlyFabi
Section: Tweaks
Depiction: https://slyfabi.github.io/depictions/?p=com.slyfabi.blurryalerts